<template>
  <v-dialog 
    :fullscreen="$vuetify.breakpoint.mdAndDown" 
    v-model="dialog" 
    persistent
    width="400">

    <v-card 
      color="primary" 
      class="mx-auto">
      <v-card-text>
        <h1 class="headline font-weight-regular">David's badass UTM tagger</h1>
        <p>Enter your URL, source, medium and campaign tag and watch the wizard build your URL.</p>
        <v-text-field
          v-model="destinationUrl"
          solo-inverted
          flat 
          label="Destination URL" />
        <v-text-field 
          v-model="sourceTag" 
          solo-inverted
          flat 
          label="Source tags" />
        <v-text-field 
          v-model="mediumTag" 
          solo-inverted 
          flat 
          label="Medium tags" />
        <v-text-field 
          v-model="campaignTag" 
          solo-inverted 
          flat 
          label="Campaign tags" />
        <v-btn
          depressed
          color="teal"
          block
          @click="build = true">Build URL</v-btn>
      </v-card-text>
      
      <v-slide-y-transition>
        <v-card-text v-if="build">
          <h1 class="caption font-weight-regular">
            {{ fullUrl }}
          </h1>
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: true,
      build: false,
      destinationUrl: '',
      sourceTag: '',
      mediumTag: '',
      campaignTag: '',
      step: 1
    }
  },
  computed: {
    currentTitle () {
      switch (this.step) {
        case 1: return 'Destination URL'
        case 2: return 'Source Tag'
        default: return 'Account created'
      }
    },
    fullUrl() {
      return this.destinationUrl + '?utm_source=' + this.sourceTag + '&utm_medium=' + this.mediumTag + '&utm_campaign=' + this.campaignTag
    }
  }
}
</script>
